﻿@model IEnumerable<Product>

@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Working with VS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bundle.min.css" />
    <script src="~/js/bundle.min.js"></script>
</head>

<body class="panel-body">
    <h3 class="text-center">Products:</h3>
    <p>Request time: @DateTime.Now.ToString("HH:mm:ss")</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>   <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>

            }
        </tbody>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddProduct">Add new Product</a>
    </div>

</body>

</html>