﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting World (from the view)
        
        <h3>We're going to have an extining party!</h3> 
          <h4>And you are invited</h4> 
        
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP now</a>
    </div>
</body>
</html>