﻿@model GuestResponse
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="text-center">
    <p>
        <h1>Thank you, @Model.Name</h1>
        @if(Model.WillAttend == true)
        {
            @: It's great that you can come
        }
        else
        {
            @:Sorry to hear that
        }
    </p>
    <p>Click <a class="navbar-link" asp-action="ListResponses">here</a> to see who is coming</p>
</body>
</html>