﻿@model IEnumerable<string>

<a class="btn btn-block btn-default"
   asp-action="List"
   asp-controller="Product"
   asp-route-category=><strong>Home</strong></a>

@foreach (string category in Model)
{
<a class="btn btn-block @(category == ViewBag.SelectedCategory? "btn-primary":"btn-default")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
asp-route-page="1">
@category
</a>
}