﻿@model Dictionary<string, string>
@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap.css" />
    <title>Result</title>
</head>

<body class="panel-body">
    <table class="table table-condensed table-bordered table-striped">
        @foreach (var kvp in Model)
    {
        <tr>
            <th>@kvp.Key</th>


            <td>@kvp.Value</td>
        </tr>

}

    </table>


</body>
</html>