h3{
    font-size: 18pt;
    font-family: sans-serif;
}

table, td {
    border: 2px solid black;
    border-collapse:collapse;
    padding:5px;
    font-family:sans-serif;
}
p {
    font-family:sans-serif;
    font-size:10pt;
    color: darkgreen;
    background-color:antiquewhite;
    border:1px solid black;
    padding: 2px;
}