﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #mainDiv{
            padding:20px;
            border: solid medium black;
            font-size: 20pt
        }
    </style>
</head>

<body>
    <div>
        <h1>Product Information</h1>
        <div id="mainDiv">
            @RenderBody()
        </div>
        
    </div>
</body>

</html>