﻿@model Result
@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="panel-body">
    <table class="table table-bordered table-striped table-condensed">
        <tr><th>Controller:</th><td>@Model.Controller</td></tr>
        <tr><th>Action</th><td>@Model.Action</td></tr>
        @foreach(string key in Model.Data.Keys)
        {
            <tr><th>@key:</th><td>@Model.Data[key]</td></tr>
        }
    </table>
    <a asp-action="CustomVariable">This is outgoing URL</a>
    <br />
    <a asp-controller="Admin" asp-action="Index">Admin/Index link</a>
    <br />
    <a asp-route="out">This is otgoing ROUTE url </a>
    <br />
    <p>URL: @Url.Action("CustomVariable", "Home", new { id=100} )</p>
</body>

</html>
