﻿@model string
@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="panel-body">
    <h2>GetLegacyUrl</h2>
    The URL requested was : @Model
</body>


</html>