﻿@model Product[]

@{
    ViewBag.Title = "Product Name";
}

<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>


@*
        <p>Product name : @Model.Name</p>
    <p>Product price: @($"{ Model.Price:C2}")</p>
    <p>Stock level:
        @if(ViewBag.StockLevel == 0)
        {
            @:Out of stock
        } else if (ViewBag.StockLevel > 0 && ViewBag.StockLevel < 5)
        {
            <b>Low Stock (@ViewBag.StockLevel)</b>
        } else
        {
            @: @ViewBag.StockLevel in Stock
        }

        </p>
*@
